.cart {
  background: var(--white);
  position: fixed;
  bottom: -100%;
  width: 100vw;
  max-width: 424px;
  z-index: 11;
  transition: 200ms ease-in-out;
}

.cart.open {
  bottom: 0;
}

.restaurant_name {
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  padding: 1rem 0rem;
  border-bottom: 1px solid var(--border_color);
}

.subtotal {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtotal p {
  font-size: var(--medium_font);
}

.checkout {
  height: 4rem;
  padding: 0.75rem;
  background: var(--white);
  border-top: 1px solid var(--border_color);
}

.checkout button {
  border: none;
  font-size: var(--button_font);
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  color: var(--white);
  background: var(--black);
  padding: 0.75rem 1.25rem;
}

.Overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  max-width: 424px;
  margin: 0 auto;
  pointer-events: none;
  transition: all 250ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.Overlay.Open {
  opacity: 1;
  pointer-events: all;
}

@media (min-width: 375px) {
  .checkout {
    height: 4.5rem;
  }
}

@media (min-width: 414px) {
  .checkout {
    height: 5rem;
  }

  .checkout button {
    padding: 1rem 1.5rem;
  }
}
