.header {
  padding: 0.75rem;
}

.header h1,
.header p {
  margin-bottom: 0.25rem;
}

.header h1 {
  font-size: var(--largest_font);
}

.header p {
  font-size: var(--small_font);
  color: var(--grey);
}
