.categories {
  padding: 0.75rem;
}

.category {
  margin-bottom: 1.5rem;
}

.category:last-child {
  margin-bottom: 0rem;
}

.category h2 {
  font-weight: 700;
  margin-bottom: 1rem;
  display: inline-block;
  font-size: var(--large_font);
}

.item {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  width: 75%;
  margin-right: 1rem;
}

.title {
  display: inline-block;
  margin-bottom: 0.25rem;
  color: var(--black);
  font-weight: 600;
  font-size: var(--medium_font);
}

.description {
  font-size: var(--small_font);
  color: var(--grey);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.price {
  /* display: inline-block; */
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  color: var(--black);
  font-size: var(--small_font);
}

.image {
  width: 25%;
  position: relative;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  color: var(--white);
  background: var(--black);
}

.button {
  position: sticky;
  bottom: 1.25rem;
  border: none;
  font-size: var(--button_font);
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  color: var(--white);
  background: var(--black);
  padding: 0.75rem 1.25rem;
}

@media (min-width: 414px) {
  .button {
    padding: 1rem 1.5rem;
  }
}
