.item {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item_top {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.header {
  padding: 0.75rem;
}

.title {
  font-size: 24px;
  margin-bottom: 0.5rem;
}

.description {
  color: var(--grey);
  margin-bottom: 0.5rem;
}

.price {
  font-weight: 700;
}

.controller {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  pointer-events: none;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border-radius: 100%;
  background: var(--almost_white);
  transition: all 0.15s ease;
}

.icon svg {
  font-size: 1.25rem;
  color: var(--light_grey);
}

.quantity {
  font-weight: 600;
  padding: 0rem 1rem;
}

.active {
  pointer-events: all;
  background: var(--border_color);
}

.active.minus svg {
  color: var(--black);
}

.plus {
  pointer-events: all;
  background: var(--border_color);
}

.plus svg {
  color: var(--black);
}

.remove_item {
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 2rem;
  background: var(--border_color);
}

.remove_item svg {
  margin-right: 0.5rem;
  color: red;
  font-size: 0.9rem;
}

.remove_item p {
  color: red;
  font-size: 0.9rem;
}

.button {
  height: 4rem;
  position: sticky;
  bottom: 0;
  padding: 0.75rem;
  background: var(--white);
  border-top: 1px solid var(--border_color);
}

.button button {
  border: none;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  color: var(--white);
  background: var(--black);
  padding: 0.75rem 1.25rem;
}

@media (min-width: 375px) {
  .header {
    margin-bottom: 1rem;
  }

  .controller {
    margin-bottom: 1.75rem;
  }

  .button {
    height: 4.5rem;
  }

  .button button {
    font-size: 16px;
  }
}

@media (min-width: 390px) {
  .header {
    margin-bottom: 2rem;
  }

  .icon {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 414px) {
  .header {
    margin-bottom: 2.5rem;
  }

  .controller {
    margin-bottom: 2rem;
  }

  .button {
    height: 5rem;
  }

  .button button {
    padding: 1rem 1.5rem;
  }
}
