.item {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item_top {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.banner {
  position: relative;
}

.back_icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  background: var(--button_background);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.back_icon svg {
  font-size: 2rem;
}

.header {
  padding: 0.75rem;
}

.title {
  margin-bottom: 0.5rem;
  font-size: var(--large_font);
}

.description {
  color: var(--grey);
  margin-bottom: 0.5rem;
  font-size: var(--small_font);
}

.price {
  font-weight: 700;
}

.special_instructions {
  margin-bottom: 1.5rem;
}

.special_instructions label {
  width: 100%;
  display: inline-block;
  padding: 0.875rem 1rem;
  background: var(--border_color);
  font-size: var(--button_font);
}

.special_instructions textarea {
  padding: 0.5rem 1rem;
  width: 100%;
  resize: none;
  color: var(--grey);
  border-bottom: 1px solid var(--border_color);
}

.special_instructions textarea:focus {
  outline: none;
  box-shadow: 0px 4px 1.5rem rgba(0, 0, 0, 0.1);
}

.controller {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  pointer-events: none;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border-radius: 100%;
  background: var(--almost_white);
  transition: all 0.15s ease;
}

.icon svg {
  font-size: 1.5rem;
  color: var(--light_grey);
}

.quantity {
  font-weight: 600;
  padding: 0rem 1rem;
}

.active {
  pointer-events: all;
  background: var(--border_color);
}

.active.minus svg {
  color: var(--black);
}

.plus {
  pointer-events: all;
  background: var(--border_color);
}

.plus svg {
  color: var(--black);
}

.remove_item {
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  cursor: pointer;
  border-radius: 2rem;
  background: var(--button_background);
}

.remove_item svg {
  margin-right: 0.5rem;
  color: red;
  font-size: 0.9rem;
}

.remove_item p {
  font-size: 0.9rem;
}

.button {
  display: flex;
  align-items: center;
  height: 4rem;
  position: sticky;
  bottom: 0;
  padding: 0.75rem;
  background: var(--white);
  border-top: 1px solid var(--border_color);
}

.button button {
  border: none;
  font-size: var(--button_font);
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  color: var(--white);
  background: var(--black);
  padding: 0.75rem 1.25rem;
}

@media (min-width: 375px) {
  .header {
    margin-bottom: 1rem;
  }

  .controller {
    margin-bottom: 1.75rem;
  }

  .button {
    height: 4.5rem;
  }
}

@media (min-width: 390px) {
  .header {
    margin-bottom: 2rem;
  }

  .icon {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 414px) {
  .header {
    margin-bottom: 2.5rem;
  }

  .controller {
    margin-bottom: 2rem;
  }

  .button {
    height: 5rem;
  }

  .button button {
    padding: 1rem 1.5rem;
  }
}
