@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
    url("/fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("/fonts/roboto-v30-latin-regular.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/roboto-v30-latin-500.woff2") format("woff2"),
    url("/fonts/roboto-v30-latin-500.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/roboto-v30-latin-700.woff2") format("woff2"),
    url("/fonts/roboto-v30-latin-700.woff") format("woff");
  font-display: fallback;
}

:root {
  --black: #000;
  --white: #fff;
  --grey: #666;
  --light_grey: #bfbfbf;
  --almost_white: #fafafa;
  --border_color: #eaeaea;
}

*,
html,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 428px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  line-height: 1.5em;
}

p,
a,
li {
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input,
select,
textarea {
  border: none;
  border-radius: 0px;
}

textarea {
  resize: none;
  font-family: "Inter", sans-serif;
}

@media (min-width: 428px) {
  html,
  body {
    border-left: 1px solid var(--almost_white);
    border-right: 1px solid var(--almost_white);
  }
}
