@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/source-sans-pro-v21-latin-300.eot");
  src: local("Source Sans Pro"),
    url("/fonts/source-sans-pro-v21-latin-300.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/source-sans-pro-v21-latin-300.woff2") format("woff2"),
    url("/fonts/source-sans-pro-v21-latin-300.woff") format("woff"),
    url("/fonts/source-sans-pro-v21-latin-300.ttf") format("truetype"),
    url("/fonts/source-sans-pro-v21-latin-300.svg#SourceSansPro") format("svg");
  font-display: fallback;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/source-sans-pro-v21-latin-regular.eot");
  src: local("Source Sans Pro"),
    url("/fonts/source-sans-pro-v21-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/source-sans-pro-v21-latin-regular.woff2") format("woff2"),
    url("/fonts/source-sans-pro-v21-latin-regular.woff") format("woff"),
    url("/fonts/source-sans-pro-v21-latin-regular.ttf") format("truetype"),
    url("/fonts/source-sans-pro-v21-latin-regular.svg#SourceSansPro")
      format("svg");
  font-display: fallback;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/source-sans-pro-v21-latin-600.eot");
  src: local("Source Sans Pro"),
    url("/fonts/source-sans-pro-v21-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/source-sans-pro-v21-latin-600.woff2") format("woff2"),
    url("/fonts/source-sans-pro-v21-latin-600.woff") format("woff"),
    url("/fonts/source-sans-pro-v21-latin-600.ttf") format("truetype"),
    url("/fonts/source-sans-pro-v21-latin-600.svg#SourceSansPro") format("svg");
  font-display: fallback;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/source-sans-pro-v21-latin-700.eot");
  src: local("Source Sans Pro"),
    url("/fonts/source-sans-pro-v21-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/source-sans-pro-v21-latin-700.woff2") format("woff2"),
    url("/fonts/source-sans-pro-v21-latin-700.woff") format("woff"),
    url("/fonts/source-sans-pro-v21-latin-700.ttf") format("truetype"),
    url("/fonts/source-sans-pro-v21-latin-700.svg#SourceSansPro") format("svg");
  font-display: fallback;
}

:root {
  --black: #000;
  --white: #fff;
  --grey: #666;
  --light_grey: #bfbfbf;
  --almost_white: #fafafa;
  --border_color: #eaeaea;
  --button_background: #f2f2f2;
  --small_font: 14px;
  --medium_font: 16px;
  --large_font: 24px;
  --largest_font: 32px;
  --button_font: 18px;
}

*,
html,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 428px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100%;
  max-width: 100vw;
  position: relative;
}

h1,
h2 {
  line-height: 1.5em;
}

p,
a,
li {
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input,
select,
textarea {
  border: none;
  border-radius: 0px;
}

textarea {
  resize: none;
  font-family: "Inter", sans-serif;
}

@media (min-width: 428px) {
  html,
  body {
    border-left: 1px solid var(--almost_white);
    border-right: 1px solid var(--almost_white);
  }
}
